* {
    margin: 0;
    padding: 0;
    border: 0;
}

.hide {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #171A21;
}

header {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
}

    header h1, p {
        font-family: 'Ubuntu', sans-serif;
        color: #E26D5A;
    }

    header h1 {
        font-size: 40pt;
    }

main {
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

    .container {
        width: 70%;
        margin: 0 auto;
    }

    .input-task input {
        display: block;
        margin: 10px auto;
        outline: none;
    }

    .input-task input[type="text"] {
        padding: 10px;
        background-color: #F4F1DE;
        width: 300px;
        border-radius: 20px;
        text-align: center;
        font-size: 14px;
    }

    .input-task input[type="button"] {
        width: 100px;
        background-color: rgba(61, 64, 91, 0.39);
        font-weight: bold;
        font-size: 12pt;
        border-bottom: 1px solid #E26D5A;
    }

.msg-initial {
    text-align: center;
    margin-top: 150px
}

    .msg-initial p {
        color: rgba(214, 195, 201, 0.205);
        font-size: 15pt;
        font-style: italic;
    }

.chat-bot {
    position: fixed;
    display: block;
    bottom: 70px;
    left: 50px;
    width: 280px;
    height: 42px;
}

    .chat-bot p {
        color: white;
        margin-left: 100px;
    }

    .chat-bot span img {
        position: absolute;
        width: 35px;
        padding: 10px;
        left: 27px;
        bottom: -1px;
    }

    .chat-bot span::before {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        background: #E26D5A;
        border-radius: 50%;
        left: 30px;
        bottom: 0;
    }

footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 40px 0;
}

    footer p {
        text-align: center;
        font-size: 10pt;
    }